* {
    padding: 0;
    margin: 0;
}

.location-section img {
    height: 300px;
    display: inline-block;
    padding-bottom: 100px;
    padding-top: 50px;

}

.location-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.location-description {
    font-size: 1.5em;
    display: inline-block;
    margin-left: 100px;
    padding-top: 50px;
    color: white;
}

main {
    padding: 100px;
    background-color: black;
}
.title h1{
color: white;
text-align: center;
}